.content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: url('../../../img/FiledForGame.webp');
    background-size: cover;
    opacity: .8;
    flex-direction: column; 
    overflow-y: scroll;
}
.contentGame {
    top: 2%;
    position: relative;
    padding: 0 1rem;
    display: flex;
    height: 45%;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.gameField {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
 }
.text {
    font-size: 4rem;
    font-weight: bold;
    color: #09140f;
    background-color: #a4ceaf;
    line-height: 5rem;
    position: absolute;
    text-align: center;
    top: -72%;
    left: 0;
}
.fieldGame {
    width: 100%;
    height: 100%;
}
.gameField:hover .nonCards {
    display: block;
}
.nonCards {
    display: none;
    width: 60%;
    height: 90%;
    padding: 1.5%;
    background-color:#fff;
    opacity: .5;
    border: solid 2px #c54949;
    border-radius: 10%;
    color: #000;
    font-size: 300%;
    font-weight: bold;
    position: absolute;
    left: 4%;
    bottom: 9%;
}
.deckCard, .deckCardLibre { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.deckCardTrump {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    top: 9%;
    left: 13%;
}
.deckCardGame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    position: relative;
}
.gameField:hover .buttonGame {
    display: block;
}
.deckCardLibre:hover .button {
    display: block;
}
.button, .button2, .buttonGame, .buttonGameFin {
    display: none;
    padding: 20px;
    background-color: inherit;
    border: solid 2px #c54949;
    border-radius: 1.8rem;
    color: rgb(31, 129, 47);
    font-size: 3rem;
    font-weight: bold;
    position: relative; 
    left: -2%;
    top: -18px;
}
.button2 {
    display: block;
    background-color: #a4ceaf;
    opacity: .8;
}
.buttonGame, .buttonGameFin {
    width: 40rem;
    padding: 2rem 30%;
    margin: 5%;
    top: 20%;
    position: absolute;
}
.buttonGameFin {
    display: block;
    background-color: rgb(29, 148, 82);
    opacity: .5;
    color: black;
    padding: 5% 10%;
    top: 2%;
}
.button:hover, .buttonGame:hover, .buttonGameFin:hover, .button2:hover {
    background-color: rgb(29, 148, 82);
    opacity: .7;
    color: rgb(145, 57, 57);
}
.button:active, .buttonGame:active, .buttonGameFin:active, .button2:active {
    transform: translateY(-5px);
}
.card, .card2 {
    width: 200px;
    height: 280px;
    position: absolute;   
}
.trump {
    width: 280px;
    height: 200px;
    position:absolute;
    left: 170%;
    transform: rotate(90deg);
}
.gamers, .gamersNoMargin  {
    padding: 0 1rem;
    height: 33%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.gamers:last-child {
    flex-wrap: wrap;
}
.gamersNoMargin {
    position: relative;
    justify-content: start;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 280px;
    position: relative;
}
.gamersNoMargin .cards {
    position: absolute;
}
@media all and (max-width:1350px) {
    .contentGame {
        padding: 0 .6rem;
    }
    .gameField {
        padding: 0 .2rem;
     }
    .text {
        font-size: 2rem;
        line-height: 2rem;
    }
    .fieldGame {
        width: 100%;
        height: 100%;
    }
    .nonCards {
        display: block;
        width: 60%;
        height: 60%;
        top: 5%;
    }
    .button, .button2, .buttonGame, .buttonGameFin {
        display: block;
        font-size: 1rem;
        width: 100%;
        padding: 2rem;
        top: 30%;
    }
    .button, .button2 {
        padding:.8rem 2rem; 
        width: 80%;
        top: -10%;
    }
    .button:active, .buttonGame:active, .buttonGameFin:active, .button2:active {
        transform: translateY(-5px);
    }
    .trump {
        width: 150px;
        height: 120px;
    }
    .gamers:first-child, .gamersNoMargin:first-child  {
        padding: 0 .5rem;
        overflow-x: hidden;   
    }
    .gamers:last-child, .gamersNoMargin:last-child  {
        padding: 0 .5rem;
    }
    .cards {
        width: 130px;
        height: 190px; 
    }
    .card, .card2 {
        width: 136px;
        height: 190px; 
    }

}
@media all and (max-width:750px) {
    .trump {
        width: 150px;
        height: 120px;
    }
    .gamers:last-child, .gamersNoMargin:last-child  {
        padding: 0 .5rem;
        height: 33%;
        flex-wrap: wrap;
    }
    .cards {
        width: 99px;
        height: 148px; 
    }
    .card, .card2 {
        width: 109px;
        height: 148px; 
    }
}