.cardContent, .cardContentActive {
    max-width: 100%;
    min-height: 100%;
    position: relative; 
    overflow: hidden;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-radius: 6%;
    border: 1px solid rgb(85, 69, 69);
    box-shadow: -.02em 0 .2em rgb(65, 62, 62);
}
.cardContent {
    opacity: 0;
}
.cardContentActive {
    opacity: 1;
}
.value, .valueDown {
    width: 43%;
    justify-content: center;
    position: relative;
    align-items: center;
}
.valueMain {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
}
.value {
    align-self: start;
}
.cardSuit {
    position: relative;
    min-height: 258px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plenty svg {
   width: 36pt; 
   height: 36pt;
}
.valueDown {
    align-self: end;
    rotate: 180deg;
}
.plentyOfImage {
    position: relative;
    min-height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.plentyOfImageSmall {
    padding: 1.1rem .02rem 1.1rem .02rem;
    position: relative;
    min-height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.image {
    position: absolute;
}
.imageSmall {
    padding-left: .1rem;
    top: 90%;
    left: 2%;
    position: absolute;
}
.imageSmall svg {
    height: 28pt;
    width: 28pt;
}
@media all and (max-width: 1350px) {
    .value, .valueDown {
        width: 19%;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    .valueMain {
        height: 2rem;
        width: 1rem;
        font-size: 1.2rem;
    }
    .value {
        align-self: start;
    }
    .plenty svg {
        width: 25pt; 
        height: 25pt;
     }
     .image svg {
        width: 70pt;
        height: 70pt;
    }
    .cardSuit {
        position: relative;
        min-height: 188px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items:  space-between;
    }
    .plentyOfImage {
        position: relative;
        min-height: inherit;
        width: 100%;
    }
    .plentyOfImageSmall {
        position: relative;
        min-height: inherit;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .imageSmall svg {
        height: 18pt;
        width: 18pt;
    }
}
@media all and (max-width:750px) {
    .valueMain {
        height: 1.5rem;
        width: .8rem;
        font-size: .8rem;
    }
    .plenty svg {
        width: 17pt; 
        height: 17pt;
     }
    .image svg {
        width: 60pt;
        height: 60pt;
    }
    .cardSuit {
        position: relative;
        min-height: 146px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items:  space-between;
    }
    .plentyOfImage {
        position: relative;
        min-height: inherit;
        width: 100%;
    }
    .imageSmall svg {
        height: 13pt;
        width: 13pt;
    }
}